<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <div id="top-container">
        <!-- Header -->
        <header>
            <img class="logo" src="/frontend/img/bike_logo.svg" alt="BikeStore">
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos...">
            </div>
            <div class="icon1">
                <div class="icon cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="badge">0</span>
                </div>
                <div class="icon" id="loginIcon">
                    <!-- <i class="fa-solid fa-user"></i> -->
                </div>
                <div class="icon" id="favoritesIcon">
                    <i class="fa-solid fa-heart"></i>
                    <span class="badge">0</span>
                </div>

            </div> <!-- CIERRE de .icon1 -->
        </header>

        <!--         
        <div id="sessionPanel">
            <div class="session-icons">
                <button id="logoutIcon" class="logout-icon icon">
                    <i class="fa-solid fa-sign-out-alt"></i>
                </button>
            </div>
        </div> -->


        <!-- Menú de navegación -->
        <nav class="nav-menu">
            <ul>
                <li><a href="/frontend/index.html">Inicio</a></li>
                <li><a href="/frontend/catalogo.html">Catálogo</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>

</body>

</html>